[submodule "vendor/retry"]
	path = vendor/retry
	url = git@github.com:manny-fp/retry.git
[submodule "vendor/mutable-containers"]
	path = vendor/mutable-containers
	url = git@github.com:fpco/mutable-containers
[submodule "vendor/executable-hash"]
	path = vendor/executable-hash
	url = git@github.com:fpco/executable-hash.git
